page-login,
.login {
    .fb {
        //color: white;
        /*background-color: white;
        text-transform: uppercase;
        font-size: 75%;
        border: 2px solid #3b5998;
        padding: 6% 23%;
        margin: auto;
        white-space: nowrap;
        text-align: center;
        font-family: "SanFranciscoText-Regular";
        font-weight: bold;
        letter-spacing: 0.3em;*/
        //texr-colo
        width: 45%;
        //height: 10%;
        font-size: 150%;
        border: 2px solid #3b5998;
    }
    .gplus {
        //color: #d34836;
        /*background-color: white;
        text-transform: uppercase;
        font-size: 75%;
        border: 2px solid #3b5998;
        padding: 6% 23%;
        margin: auto;
        white-space: nowrap;
        text-align: center;
        
        
        letter-spacing: 0.3em;*/
        //texr-colo
        border: 2px solid #d34836;
        font-family: "SanFranciscoText-Regular";
        font-weight: bold;
        //background-color: white;
        //background: white;
        //color: white;
        width: 45%;
        //height: 10%;
        font-size: 150%;
    }

    .loginButton{
        padding-top: 30px;
        padding-bottom: 20px;
        padding-right: 20px;
        padding-left: 20px;
        
    }

    .form{
        padding-top: 50px;
        padding-bottom: 10px;
        padding-right: 30px;
        padding-left: 10px;
        ion-item{
            padding-top: 0px;
            height: 100%;
        }
    }

    .divider{
       // border: 2px solid #128f74;
        p{
        color: #a7a7a7;
        font-size: 200%;
        font-style: bold;
        padding-top: 15px;
        padding-bottom: 0px;
        padding-right: 10px;
        padding-left: 10px;
        }
    }

    .buttons{
        padding-top: 20px;
        p{
            text-align: center;
            color: gray;
            font-style: italic;
            font-size: 110%;
            padding-top: 15px;
            padding-bottom: 0px;
        }
    }

        .custom-nav-bar{
            //background-image: url("http://i66.tinypic.com/v6htsz.jpg");
            //background: url("../assets/img/MainBack.png") no-repeat center center fixed;
            height: 40vh;
            background-image: url("../assets/img/MainBack.png");
            //height: 100%;
            width: 100%;
            background-repeat: no-repeat;
            background-size: 100%;
            display: inline-block;
            //border: 1px solid red;
            position:relative;
            //color: #d34836;
            padding-top: -160px;
        }

            .main-text{
                color: color($colors, primary);
                text-align: center;
                font-size: 200%;
                font-weight: 450;
            }
            .green{
                color:color($colors, primary);
                text-align: center;
                font-size: 200%;
                font-weight: 450;
            }
            .blue{
                color: #428ac5;
                text-align: center;
                font-size: 200%;
                font-weight: 450;
            }
            .center{
                text-align: center;
            }
 
}
