page-register,
.register {
    .buttons{
        padding-top: 20px;
        p{
            text-align: center;
            color: gray;
            font-style: italic;
            font-size: 110%;
            padding-top: 15px;
            padding-bottom: 0px;
        }
    }
}
