
    page-profile {
        .header-image {
            //background-image: url(https://ununsplash.imgix.net/photo-1421091242698-34f6ad7fc088?fit=crop&fm=jpg&h=650&q=75&w=950);
            height:40vh;
            filter: blur(5px);
        }
         
        .main-content {
            padding: 20px;
            background-color: white;
            width: 100%
        }
        .dp{
            border: 6px solid #dfdfdf;
            border-radius: 50%;
            height: 50vw;
            width: 50vw;
            max-height: 300px;
            max-width: 300px;
            z-index: 10;
            margin-top: 0px;
            position: relative;
            left:50%;
            margin-right:-50%;
            transform: translate(-50%,0%);
            box-shadow: -3px 10px 50px 3px rgba(0,0,0,0.75);
            background-size: cover;
            background-color: #ecf0f1;
        }

        .custom-nav-bar{
            //background-image: url("http://i66.tinypic.com/v6htsz.jpg");
            //background: url("../assets/img/MainBack.png") no-repeat center center fixed;
            height: 40vh;
            background-image: url("../assets/img/MainBack.png");
            //height: 100%;
            //background: transparent;
            width: 100%;
            background-size: cover;
            background-position: center center fixed;
            //background-repeat: no-repeat;
            //background-size: 100%;
            display: inline-block;
            //border: 1px solid red;
            //position:relative;
            //color: #3639d3;
            //padding-top: -160px;
        }
    
            .main-text{
                color: color($colors, primary);
                text-align: center;
                font-size: 200%;
                font-weight: 450;
            }
            .green{
                color:color($colors, primary);
                text-align: center;
                font-size: 200%;
                font-weight: 450;
            }
            .blue{
                color: #428ac5;
                text-align: center;
                font-size: 200%;
                font-weight: 450;
            }
            .center{
                text-align: center;
            }
    }
