page-trips {

  .address-block {
    border-top: 1px solid color($colors, border-color);
    margin-top: 5px;
  }
  
  agm-map {
    height: 300px;
  }

  .custom-nav-bar{
    //background-image: url("http://i66.tinypic.com/v6htsz.jpg");
    //background: url("../assets/img/MainBack.png") no-repeat center center fixed;
    height: 40vh;
    background-image: url("../assets/img/MainBack.png");
    //height: 100%;
    //background: transparent;
    width: 100%;
    background-size: cover;
    background-position: center center fixed;
    //background-repeat: no-repeat;
    //background-size: 100%;
    display: inline-block;
    //border: 1px solid red;
    //position:relative;
    //color: #3639d3;
    //padding-top: -160px;
}

    .main-text{
        color: color($colors, primary);
        text-align: center;
        font-size: 200%;
        font-weight: 450;
    }
    .green{
        color:color($colors, primary);
        text-align: center;
        font-size: 200%;
        font-weight: 450;
    }
    .blue{
        color: #428ac5;
        text-align: center;
        font-size: 200%;
        font-weight: 450;
    }
    .center{
        text-align: center;
    }
}
